@model TextThePeople.Models.Persons

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Persons</legend>

        @Html.HiddenFor(model => model.PersonsId)
        @Html.HiddenFor(model => model.OSEntityPK)
        <div class="editor-label">
            @Html.LabelFor(model => model.OSEntityPK)
        </div>
        <div class="editor-label" style="font-weight: bold;">
            @Html.DisplayFor(model => model.OSEntityPK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
