@model IEnumerable<TextThePeople.Models.Persons>

@{
    ViewBag.Title = "Search";
}

<h2>Search for Clients</h2>


@using (Html.BeginForm("Search","Persons",FormMethod.Get))
{
    <div class="label">Phone Number:</div>  
    <div class="searchBox">@Html.TextBox("SearchNumber", "", new{ @class="searchBox"})</div>
    <div class="label">OSEntityPK: </div>
    <div class="searchBox">@Html.TextBox("OSIdentity", "", new{ @class="searchBox"})</div>
    <div class="label">Person Type: </div>
    <div class="searchBox">@Html.TextBox("groupNumber", "", new{ @class="searchBox"})</div>
    <input type="submit" value="Search" />
}

<table>
    <tr>
        <th>
            Person ID:
        </th>
        <th>
           Client Type:
        </th>
        <th>
            Phone Number:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OSEntityPK)
        </td>
        <td>
            @if (item.PersonType == 1)
            { 
                <p>Property Owner</p>
            }
            else { 
                <p>Tennant</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonsId })
        </td>
    </tr>
}

</table>