@model TextThePeople.Models.Logs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Logs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateSet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateSet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Error)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Error)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
